#links_page {

    #creator {

        .content_wrap {

            &.creator {
                @include boxShadowRight;
                border: none;
                padding: 20px 40px;
                border-top-left-radius: 20px;
                -webkit-border-top-left-radius: 20px;
                -moz-border-radius-topleft: 20px;

                .border_wrap {
                    border: 1px solid $borderGray;
                    border-radius: 8px;
                    -webkit-border-radius: 8px;
                    -moz-border-radius: 8px;
                    padding: 10px;
                }
            }

            section {
                position: relative;
                margin-bottom: 20px;

                ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    @include osbold;
                    color: $black;
                    opacity: 1; /* Firefox */
                    font-size: 16px;
                }

                :-ms-input-placeholder { /* Internet Explorer 10-11 */
                    @include osbold;
                    color: $black;
                }

                ::-ms-input-placeholder { /* Microsoft Edge */
                    @include osbold;
                    color: $black;
                }

                select {
                    @include osbold;
                    color: $black;
                    opacity: 1; /* Firefox */
                    font-size: 16px;
                    padding: 5px;
                }

                .section_content {
                    border: 1px solid $borderGray;
                    padding: 35px;
                    border-radius: 20px;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                }

                h4 {
                    @include osbold;
                    font-size: 1.2em;
                    color: $black;
                    margin: 0;
                }

                .section_title {
                    margin-bottom: 20px;

                    h4 {
                        color: $blue;
                    }
                }

                .icon_wrap {
                    position: relative;
                    justify-self: flex-end;
                    margin-left: auto;

                    svg {
                        width: 20px;
                        height: 20px;
                        color: $blue;
                        margin-left: 5px;
                    }

                    > a {
                        text-decoration: underline;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: normal;
                        -ms-flex-direction: row;
                        flex-direction: row;
                        -ms-flex-wrap: nowrap;
                        flex-wrap: nowrap;
                        justify-content: center;
                        -webkit-justify-content: center;
                        align-items: center;
                        -webkit-align-items: center;
                    }
                }

                .color_wrap {
                    display:block;
                    border: 1px solid $black;
                    padding: 3px;
                    margin: 0 5px;
                    border-radius: 4px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                }

                .color_box {
                    display:block;
                    width: 20px;
                    height: 20px;
                }

                .picker_wrapper {
                    position: absolute;
                    bottom: 0;
                    left: 100%;
                    z-index: 999;

                    .close_icon.icon_wrap {
                        position: absolute;
                        top: -15px;
                        right: -15px;

                        svg {
                            width: 26px;
                            height: 26px;
                            color: $black;
                        }
                    }
                }

                .button_options {
                    padding-top: 20px;
                    border-top: 1px ridge;
                    border-color: rgba(155,155,155,.2);

                    h3 {
                        font-size: 1.2em;
                        margin: 0;
                    }

                    .switch_wrap {
                        justify-content: space-between;
                        -webkit-justify-content: space-between;
                        margin-bottom: 20px;
                    }

                    .radios_wrap {
                        justify-content: space-between;
                        -webkit-justify-content: space-between;

                        .radios {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-orient: horizontal;
                            -webkit-box-direction: normal;
                            -ms-flex-direction: row;
                            flex-direction: row;
                            -ms-flex-wrap: nowrap;
                            flex-wrap: nowrap;
                            gap: 10px;
                            column-gap: 10px;
                            -webkit-column-gap: 10px;
                            -moz-column-gap: 10px;

                            input {
                                margin-right: 3px;
                            }
                        }
                    }
                }
            }
        }

        .preview {

            .header {
                min-height: 312px;
                position: relative;

                .header_image {
                    position: relative;
                }

                .top_section {
                    padding-top: 35px;
                }

                .logo {
                    position: relative;
                    text-align: center;
                    max-width: 175px;
                    margin: 0 auto;
                }

                .text_wrap {
                    text-align: center;
                    margin-top: 5px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid $borderGray;

                    p {
                        margin: 0;
                    }
                }

                .button {
                    position: absolute;
                    bottom: 20px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            section {

                .button_wrap {
                    text-align: center;

                    &.above {
                        margin-bottom: 20px;
                    }

                    &.below {
                        margin-top: 20px;
                    }

                    a {
                        display: inline-block;
                    }
                }

                .text {
                    padding: 20px 0;

                    p {
                        margin: 0;
                        text-align: center;
                        font-size: 1.2em;
                    }
                }

                .image {
                    position: relative;

                    .button_wrap {
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);

                        &.above {
                            top: 20px;
                        }

                        &.below {
                            bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}




