.error_page.form_page {

    h2.page_title {
        @include osbold;
        margin-bottom: 0;
    }

    .card {
        max-width: 800px;
        margin: 0 auto;
    }
}

.message_wrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;

    @media all and (max-width: 992px) {
        justify-content: center;
        -webkit-justify-content: center;
    }

    .display_message {
        @include boxShadow;
        text-align: center;
        width: 300px;
        min-height: 200px;
        background: $white;
        margin-right: 75px;
        margin-bottom: 0;
        z-index: 999;
        border-bottom-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        border-top-right-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        -webkit-border-top-left-radius: 20px;
        padding: 20px;

        @media all and (max-width: 992px) {
            margin-right: 0;
        }

        .icon_wrap {
            color: $green;
            margin-bottom: 10px;
            margin-top: 20px;

            svg {
                width: 50px;
                height: 50px;
            }

            .error {
                color: $red;
            }
        }

        /*.close {
            border-top: 1px solid $borderGray;
            color: $darkGray;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            font-size: 14px;
            padding: 20px;

            &:hover {
                cursor: pointer;
            }
        }*/

        p {
            margin: 0;
            font-size: 18px;
            color: $black;
            text-transform: uppercase;
        }
    }
}


.hover_text {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    align-items: center;
    -webkit-align-items: center;
    opacity: 0;
    transition: .3s opacity linear;
    -webkit-transition: .3s opacity linear;
    top: -20px;
    width: 100%;

    p {
        margin: 0;
        font-size: 18px;
        background: $lightGray;
        padding: 2px 5px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }

    &.switch {
        top: -35px;
    }

    &.password {
        top: -34px;
        right: -12px;
        width: 105px;

        p {
            color: $black;
            font-size: 14px;
        }
    }

    &.edit_image, &.submit_button {
        top: -32px;
        width: 150px;
        right: -20px;

        p {
            color: $black;
            font-size: 14px;
        }
    }

    &.icon_text {
        top: 0;

        p {
            font-size: 12px;
        }
    }

}

.form_page.terms {

    .card {
        max-width: 1000px;

        h4 {
            @include osbold;
            font-size: 18px;
            color: $black;
        }

        .title, .sub_title {
            @include ossemibold;
            font-size: 16px;
            margin-bottom: 20px;
        }

        .indent {
            padding-left: 20px;
        }

        .blue_text {
            color: $blue;
        }

        .bold_text {
            @include osbold;
        }

        ul li p {
            margin-bottom: 0;
        }
    }
}

.utility_page {

    h3.page_title {
        @include osbold;
        text-align: center;
        font-size: 45px;
        margin-bottom: 100px;

        @media all and (max-width: 992px) {
            font-size: 40px;
            margin-bottom: 50px;
        }

        @media all and (max-width: 992px) {
            font-size: 35px;
        }
    }

    .two_columns {
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        margin-bottom: 7%;

        @media all and (max-width: 768px) {
            margin-bottom: 0;
        }

        .image_wrap {
            @include boxShadow;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;

            img {
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
            }
        }

        h3.column_title {
            @include osbold;
            font-size: 32px;
            color: $blue;
            text-transform: uppercase;
            position: relative;
            margin-bottom: 35px;

            @media all and (max-width: 768px) {
                margin-bottom: 15px;
                font-size: 28px;

            }

            &:after {
                content: '';
                width: 70px;
                height: 3px;
                background: $blue;
                position: absolute;
                left: 112px;
                top: 50%;

                @media all and (max-width: 768px) {
                    left: 100px;
                    width: 50px;
                }
            }
        }

        p {
            font-size: 18px;
            line-height: 2.2;

            @media all and (max-width: 768px) {
                line-height: 1.8;
                font-size: 16px;
            }

            strong {
                @include osbold;
            }
        }

        .column {
            padding: 0 3%;
        }
    }
}
