.navbar {

    .navbar-collapse {
        justify-content: flex-end;
    }

    ul {
        column-gap: 40px;

        li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            align-items: center;
            -webkit-align-items: center;
            justify-content: center;
            -webkit-justify-content: center;

            img {
                width: 35px;
                padding-right: 5px;
            }

            &.dropdown {

                a {
                    color: $blue !important;
                }
            }

            a {
                @include ossemibold;
                font-size: 16px;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

ul.page_nav_menu {
    list-style: none;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-bottom: 0;
    padding-bottom: 10px;

    li {
        height: 30px;

        input[type="text"] {
            height: 30px;
        }
    }

    a:not(.cancel_icon, .submit_circle) {
        padding: 15px 24px 20px 15px;
        color: $gray;
        text-transform: lowercase;
        border-top-right-radius: 8px;
        -webkit-border-top-right-radius: 8px;
        -moz-border-radius-topright: 8px;
        border-top-left-radius: 8px;
        -webkit-border-top-left-radius: 8px;
        -moz-border-radius-topleft: 8px;

        &:hover {
            color: $blue;
            background: $white;
            text-decoration: none;
        }

        &.active {
            color: $blue;
            background: $white;
            border-top: 1px solid $borderGray;
            border-left: 1px solid $borderGray;
            border-right: 1px solid $borderGray;
        }

        &.add_new_page {
            color: $blue;

            &:hover {
                background: none;
                color: $darkGray;
            }

            svg {
                width: 25px;
                height: 25px;
            }
        }
    }
}

header.guest_header {
    width: 100%;
    float:left;
    padding: 20px 5%;
    background: $white;

    .button {
        margin-left: 20px;

        @media all and (max-width: 768px) {
            margin-left: 10px;
            width: 40%;
            font-size: 14px;
        }
    }

    a {
        @include osregular;

        &:hover {
            text-decoration: none;
        }

        &:not(.button) {
            color: $gray;

            &:hover {
                color: $blue;
            }
        }

        &.button:hover {
            background: $blue;
            color: $white;
        }
    }

    .col {
        width: 30%;
        float:left;

        img {
            float:left;
            max-width: 175px;

            @media all and (max-width: 768px) {
                max-width: 150px;
            }
        }

        &.right {
            width: 70%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            justify-content: flex-end;
            -webkit-justify-content: flex-end;
            align-items: center;
            -webkit-align-items: center;
        }

    }
}
