.navbar {

    .navbar-collapse {
        justify-content: flex-end;
    }

    ul {
        column-gap: 40px;

        li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            align-items: center;
            -webkit-align-items: center;
            justify-content: center;
            -webkit-justify-content: center;

            img {
                width: 35px;
                padding-right: 5px;
            }



            &.dropdown {

                a {
                    color: $blue !important;


                }
            }

            a {
                @include ossemibold;
                font-size: 16px;

                &:hover {
                    text-decoration: none;
                }

                &.dropdown-item {
                    padding: 10px 20px;

                    &:focus {
                        color: $white !important;
                        background: $blue;
                    }
                }
            }

            .dropdown-menu {
                @include boxShadow;
                padding-top: 0;
                padding-bottom: 0;
                border: none;
                border-radius: 8px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;

                a {
                    &:hover {
                        background: $blue;
                        color: $white !important;
                    }
                }
            }
        }
    }
}


.page_menu_row {
    list-style: none;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    margin-bottom: 0;

    .current_page {
        padding: 10px 40px 15px 20px;
        margin-bottom: -1px;
        color: $blue;
        background: $white;
        border-top: 1px solid $borderGray;
        border-left: 1px solid $borderGray;
        border-right: 1px solid $borderGray;
        text-transform: lowercase;
        border-top-right-radius: 8px;
        -webkit-border-top-right-radius: 8px;
        -moz-border-radius-topright: 8px;
        border-top-left-radius: 8px;
        -webkit-border-top-left-radius: 8px;
        -moz-border-radius-topleft: 8px;

        p {
            font-size: 18px;
            margin: 0;
            width: max-content;
        }
    }

    .menu_wrap {
        position: relative;
        padding: 10px 40px 15px 20px;
        width: 100%;

        .menu_content {
            position: absolute;
            left: 6px;
            top: 12px;
            z-index: 1;
            opacity: 0;
            display: none;
            transition: 100ms opacity linear;
            -webkit-transition: 100ms opacity linear;
        }

        ul.page_menu {
            @include boxShadow;
            background: $white;
            list-style: none;
            z-index: 1;
            padding: 0;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            margin-top: 38px;

            &:before {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-left: 14px solid transparent;
                border-right: 14px solid transparent;
                border-bottom: 14px solid;
                border-bottom-color: $white;
                top: 25px;
                left: 12px;
            }

            li {

                a {
                    display: block;
                    padding: 15px 20px;
                }

                &:first-child {
                    border-bottom: 1px solid $borderGray;
                }

                &:hover {
                    background: $blue;

                    a {
                        color: $white;
                    }
                }
            }
        }

        .menu_icon {
            display: inline-block;
            color: $blue;

            &:hover {
                color: $darkGray;

                .menu_content {
                    display: block;
                    opacity: 1;
                }
            }

            svg {
                width: 25px;
                height: 25px;
            }
        }

    }
}





header.guest_header {
    width: 100%;
    float:left;
    padding: 20px 5%;
    background: $white;

    .button {
        margin-left: 20px;

        @media all and (max-width: 768px) {
            margin-left: 10px;
            width: 40%;
            font-size: 14px;
        }
    }

    a {
        @include osregular;

        &:hover {
            text-decoration: none;
        }

        &:not(.button) {
            color: $gray;

            &:hover {
                color: $blue;
            }
        }

        &.button:hover {
            background: $blue;
            color: $white;
        }
    }

    .col {
        width: 30%;
        float:left;

        img {
            float:left;
            max-width: 175px;

            @media all and (max-width: 768px) {
                max-width: 150px;
            }
        }

        &.right {
            width: 70%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            justify-content: flex-end;
            -webkit-justify-content: flex-end;
            align-items: center;
            -webkit-align-items: center;
        }

    }
}
