.nav_row {
    @include boxShadow;
    padding: 20px 0;
    background: $white;

    &.fixed {
        position: fixed;
        z-index: 999;
    }

    .content_wrap {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        justify-content: space-between;
        -webkit-justify-content: space-between;
    }

    .left_column {
        width: 25%;

        @media screen and (max-width: 768px) {
            width: 50%;
        }

        .logo {
            display: block;
            max-width: 175px;
        }
    }

    .right_column {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        align-items: center;
        -webkit-align-items: center;
        justify-content: flex-end;
        -webkit-justify-content: flex-end;
        width: 75%;

        @media screen and (max-width: 768px) {
            width: 50%;
        }

        .upgrade_link {

            &.mobile {
                display: none;

                @media all and (max-width: 768px) {
                    display: block;
                    margin-right: 15%;
                }
            }

            &.desktop {
                @media all and (max-width: 768px) {
                    display: none;
                }
            }
        }

        .toggler {
            display: none;

            @media all and (max-width: 768px) {
                display: block;
            }
        }

        .nav_links_wrap {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding-left: 0;
            justify-content: flex-end;

            @media all and (max-width: 768px) {
                display: block;
                width: 100%;
                position: fixed;
                z-index: 999;
                left: 0;
                top: 95px;
                background: rgba(255,255,255,.98);
                height: 0;
                overflow: hidden;
                transition: .8s all linear;
                -webkit-transition: .8s all linear;
            }

            .navbar-nav {
                flex-direction: row;
                -webkit-flex-direction: row;
                align-items: center;
                -webkit-align-items: center;
                justify-content: flex-end;
                -webkit-justify-content: flex-end;

                @media all and (max-width: 768px) {
                    flex-direction: column;
                    -webkit-flex-direction: column;
                    opacity: 0;
                    transition: .6s opacity linear;
                    -webkit-transition: .6s opacity linear;
                    border-top: 4px solid;
                    border-color: rgba(66,79,207, .4);
                    padding-top: 20px;
                }
            }

            &.open {
                height: 100%;

                .navbar-nav {
                    opacity: 1;
                }
            }


        }
    }


    ul {

        li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-flow: row nowrap;
            -webkit-flex-flow: row nowrap;
            align-items: center;
            -webkit-align-items: center;
            justify-content: center;
            -webkit-justify-content: center;
            margin-right: 10%;

            @media all and (max-width: 992px) {
                margin-right: 8%;
            }

            @media all and (max-width: 768px) {
                width: 100%;
                margin-right: 0;
            }

            &:last-child, &.dropdown {
                margin-right: 0;
            }

            &.mobile {
                display: none;

                @media all and (max-width: 768px) {
                    display: flex;
                }
            }

            &.upgrade_link {
                display: block;
            }

            img {
                width: 40px;
                padding-right: 5px;
                border-radius: 100%;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
            }

            &.dropdown {

                @media all and (max-width: 768px) {
                    display: none;
                }

                a {
                    color: $blue !important;
                }
            }

            a {
                @include ossemibold;
                font-size: 18px;

                &.current {
                    background: $blue;
                    color: $white !important;
                }

                /*&:not(.button) {
                    padding-top: 4px;
                }*/

                &.button {
                    font-size: 16px;
                    display: inline;

                    @media all and (max-width: 992px) {
                        font-size: 14px;
                    }
                }

                @media all and (max-width: 992px) {
                    font-size: 16px;
                }

                @media all and (max-width: 768px) {
                    font-size: 24px;
                    width: 100%;
                    display: block;
                    padding: 15px 0;
                    text-align:center;
                }

                &.dropdown-item {
                    padding: 10px 20px;


                    &:focus {
                        color: $white !important;
                        background: $blue;
                    }

                    &:first-child {
                        border-top-right-radius: 8px;
                        -webkit-border-top-right-radius: 8px;
                        -moz-border-radius-topright: 8px;
                        border-top-left-radius: 8px;
                        -webkit-border-top-left-radius: 8px;
                        -moz-border-radius-topleft: 8px;
                    }

                    &:last-child {
                        border-bottom-right-radius: 8px;
                        -webkit-border-bottom-right-radius: 8px;
                        -moz-border-radius-bottomright: 8px;
                        border-bottom-left-radius: 8px;
                        -webkit-border-bottom-left-radius: 8px;
                        -moz-border-radius-bottomleft: 8px;
                    }
                }
            }

            .dropdown-menu {
                @include boxShadow;
                padding-top: 0;
                padding-bottom: 0;
                border: none;
                border-radius: 8px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;

                a {
                    &:hover {
                        background: $blue;
                        color: $white !important;
                    }
                }
            }
        }
    }
}


.page_menu_row {
    list-style: none;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    margin-bottom: 0;

    .current_page {
        box-shadow: rgba(0, 0, 0, .1) 1px -5px 10px -2px;
        -webkit-box-shadow: rgba(0, 0, 0, .1) 1px -5px 10px -2px;
        -moz-box-shadow: rgba(0, 0, 0, .1) 1px -5px 10px -2px;
        padding: 10px 40px 15px 20px;
        margin-bottom: -1px;
        color: $blue;
        background: $white;
        text-transform: lowercase;
        border-top-right-radius: 15px;
        -webkit-border-top-right-radius: 15px;
        -moz-border-radius-topright: 15px;
        border-top-left-radius: 15px;
        -webkit-border-top-left-radius: 15px;
        -moz-border-radius-topleft: 15px;

        p {
            @include ossemibold;
            font-size: 18px;
            margin: 0;
            width: max-content;
        }
    }

    .menu_wrap {
        position: relative;
        padding: 10px 40px 15px 20px;
        width: 100%;

        .menu_content {
            position: absolute;
            left: 6px;
            top: 12px;
            z-index: 1;
            opacity: 0;
            display: none;
            transition: 100ms opacity linear;
            -webkit-transition: 100ms opacity linear;
        }

        ul.page_menu {
            @include boxShadow;
            background: $white;
            list-style: none;
            z-index: 1;
            padding: 0;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            margin-top: 38px;

            li {

                a {
                    display: block;
                    padding: 15px 20px;
                }

                &:first-child {
                    border-bottom: 1px solid $borderGray;

                    &:before {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-left: 14px solid transparent;
                        border-right: 14px solid transparent;
                        border-bottom: 14px solid;
                        border-bottom-color: $white;
                        top: 25px;
                        left: 11px;
                    }
                }

                &:hover {
                    background: $blue;

                    &:before {
                        border-bottom-color: $blue;
                    }

                    a {
                        color: $white;
                    }
                }

                &.disabled_link {
                    display: block;
                    padding: 15px 20px;
                    color: $darkGray;
                    background: $lightGray;

                    &:hover {
                        cursor: pointer;
                        background: $lightGray;
                    }
                }
            }
        }

        .menu_icon {
            display: inline-block;
            color: $blue;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            width: 24px;
            height: 24px;

            &.add_border {
                border: 2px solid $blue;
                border-radius: 100%;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                width: 22px;
                height: 22px;

                svg {
                    stroke-width: 2.8;
                }

            }

            &:hover {
                color: $white;
                background: $blue;

                .menu_content {
                    display: block;
                    opacity: 1;
                }
            }

            svg {
                width: 100%;
                margin: auto;
                height: auto;
            }
        }

    }
}

header.guest_header {
    @include boxShadow;
    width: 100%;
    float:left;
    padding: 20px 5%;
    background: $white;

    .button {
        margin-left: 20px;

        @media all and (max-width: 768px) {
            margin-left: 10px;
            width: 50%;
            font-size: 14px;
        }
    }

    a {
        @include osregular;

        &:hover {
            text-decoration: none;
        }

        &:not(.button) {
            color: $darkGray;

            &:hover {
                color: $blue;
            }
        }

        &.button:hover {
            background: $blue;
            color: $white;
        }

        &:first-child {
            margin-right: 20px;
        }
    }

    .col {
        width: 30%;
        float:left;

        &.left {
            @media screen and (max-width: 768px) {
                width: 42%;
            }
        }

        img {
            float:left;
            max-width: 175px;

            @media all and (max-width: 768px) {
                max-width: 150px;
            }
        }

        &.right {
            width: 70%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            justify-content: flex-end;
            -webkit-justify-content: flex-end;
            align-items: center;
            -webkit-align-items: center;

            @media screen and (max-width: 768px) {
                width: 58%;
            }
        }

    }
}

.mobile_menu_icon {
    width: 30px;
    height: 24px;
    float: right;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
        position: absolute;
        height: 5px;
        width: 100%;
        background: $blue;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;

        &:nth-child(1) {
            top: 1px;
        }

        &:nth-child(2) {
            top: 10px;
        }

        &:nth-child(3) {
            top: 19px;
        }
    }

    &.open span {

        &:nth-child(1) {
            top: 12px;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
        }

        &:nth-child(2) {
            opacity: 0;
            left: -60px;
        }

        &:nth-child(3) {
            top: 12px;
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
        }

    }
}
