#links_page {

    .my_row.page_wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;;
    }

    .left_column {
        position: relative;
        width: 55%;
        float: left;
        margin-right: 3rem;

        @media all and (max-width: 1199px) {
            width: 60%;
        }

        @media all and (max-width: 992px) {
            width: 100%;
            margin-right: 0;
        }
    }

    .right_column {
        width: 45%;
        float: left;

        @media all and (max-width: 1199px) {
            width: 40%;
            padding: 0 3%;
        }

        @media screen and (max-width: 992px) {
            width: 100%;
            padding: 0 3% 3%;
        }
    }

    .content_wrap {
        background: $white;
        padding: 40px 0;
        border: 1px solid $borderGray;
        border-bottom-right-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
        -moz-border-radius-bottomright: 20px;
        border-bottom-left-radius: 20px;
        -webkit-border-bottom-left-radius: 20px;
        -moz-border-radius-bottomleft: 20px;

        .top_section {
            padding: 0 5%;

            @media all and (max-width: 550px) {
                padding: 0 25px;
            }
        }
    }

    .icons_wrap {
        position: relative;
        /*display: grid;
        --n: 4;
        grid-template-columns: repeat(auto-fill, minmax(max(50px,100%/var(--n)), 1fr));
        grid-column-gap: 20px;
        grid-row-gap: 20px;*/
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
        align-items: flex-start;
        -webkit-align-items: flex-start;

        .icon_col {
            @include boxShadow;
            background: $white;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            position: absolute;
            /*position: relative;*/
            /*background: $white;*/
            width: 33.3%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;


            span {
                background: $white;
                border-bottom: 2px solid $lightGray;
                border-top-right-radius: 20px;
                -webkit-border-top-right-radius: 20px;
                -moz-border-radius-topright: 20px;
                border-top-left-radius: 20px;
                -webkit-border-top-left-radius: 20px;
                -moz-border-radius-topleft: 20px;
                font-size: 30px;
                text-align:center;

                svg {
                    color: $blue;
                }

                &.drag_handle {
                    &:hover {
                        cursor: grab;
                    }

                    &:active {
                        cursor: grabbing;
                    }
                }

            }

            &.disabled {

               span svg {
                    color: $borderGray;
                }

                .image_wrap {
                    position: relative;

                    &:before {
                        content: '';
                        height: 100%;
                        WIDTH: 100%;
                        background: rgba(155,155,155,.8);
                        position: absolute;
                        left: 0;
                        top: 0;
                        border-radius: 32px;
                    }
                }
            }

            /*.delete_icon {
                position: absolute;
                right: 8px;
                top: 4px;
                color: $red;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }*/

            .column_content {
                padding: 20px;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                position: relative;
            }

            .edit_icon {
                position: absolute;
                right: 10px;
                top: 10px;

                @media all and (max-width: 550px) {
                    right: 6px;
                    top: 6px;
                }

                &.disabled {
                    background: $gray;

                    &:hover {
                        background: $gray;
                    }
                }
            }

            .icon_wrap {
                width: 100%;
                float: left;
                padding: 0 14% 5px;
            }

            .my_row {
                width: 100%;
                float: left;
                text-align: center;

                p {
                    margin: 0;
                }

                &:last-child {
                    margin-top: 5px;
                }

                .react-switch-bg {
                    @media all and (max-width: 768px) {
                        height: 14px !important;
                        width: 50px !important;
                    }
                }

                .react-switch-handle {
                    @media all and (max-width: 768px) {
                        height: 12px !important;
                        width: 12px !important;
                    }
                }
            }
        }

        &.add_icons {
            padding: 20px 3%;
            min-height: 800px;

            @media all and (max-width: 1199px) {
                padding: 10px 4%;
            }

            @media all and (max-width: 992px) {
                padding: 10px 2%;
            }

            @media all and (max-width: 768px) {
                padding: 10px 3% 10px 1.5%;
            }

            @media all and (max-width: 550px) {
                padding: 10px 3% 10px 3.5%;
            }

        }

        .edit_form {
            grid-column: span 3;
            grid-auto-flow: row dense;
        }
    }
}

#links_page {

    .icon_row {
        display: flex;
        justify-content: center;
        align-items: center;

        /*.close_popup {
            position: absolute;
            right: 20px;
            top: 20px;

            svg {
                width: 40px;
                height: 40px;
                background: $black;
                color: $white;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
            }

        }*/

        .icon_box {
            width: 100%;
            background: #fff;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
        }

        .icons_wrap {
            display: grid;
            overflow-y: scroll;
            overflow-x: hidden;
            height: 185px;
            --n:6;
            grid-template-columns: repeat(auto-fill, minmax(max(50px,100%/var(--n)), 1fr));
            grid-column-gap: 20px;
            grid-row-gap: 20px;

            .icon_col {
                background: none;
                width: auto;
            }
        }

        .icon_image {
            border: 2px solid transparent;

            &:hover {
                cursor: pointer;
            }

            &.active {
                border: 2px solid #000;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
            }
        }
    }
}
.page_settings {
    margin-bottom: 20px;

    .column_wrap {
        border: 1px solid $borderGray;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;

        form {

            .top_section {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                justify-content: space-between;
                -webkit-justify-content: space-between;
                padding: 0 !important;
            }

            /*button {
                background: none;
                border: none;
                color: $blue;

                &:hover {
                    color: $darkGray;
                }

                svg {
                    width: 25px;
                    height: 25px;
                }
            }*/

            .bottom_section {
                height: auto;
                margin: 0 auto;
                padding: 40px;

                .bottom_row {
                    text-align: center;

                    button, a {
                        width: 150px;
                        display:inline-block;

                        &:first-child {
                            margin-right: 20px;
                        }
                    }
                }

                &.hidden {
                    height: 0;
                    padding: 0;

                    .bottom_row {
                        display: none;
                    }
                }
            }
        }

        .column_content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            align-items: center;
            -webkit-align-items: center;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            padding: 4px 10px;

            h3 {
                color: $black;
                margin: 0;
                font-size: 16px;
            }

            .lock_icon {
                color: $green;

                svg {
                    width: 30px;
                    height: 30px;
                }

                &.disabled  {
                    color: $gray;
                }
            }
        }
    }
}

.add_more_icons {
    @include boxShadow;
    padding: 0 40px;
    margin: 30px 7% 0 7%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;

    @media all and (max-width: 550px) {
        padding: 0 30px;
        margin: 15px 25px 0 25px;
    }

    .col_left {
        width: 90%;
        padding: 40px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        align-items: center;
        -webkit-align-items: center;
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
        border-right: 1px solid $lightGray;

        @media all and (max-width: 550px) {
            width: 95%;
            padding: 25px 0;
        }

        h3 {
            color: $blue;
            margin-left: 20px;
            margin-bottom: 0;

            @media all and (max-width: 550px) {
                font-size: 20px;
            }
        }

        .icon_wrap {
            background: $darkGray;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            padding: 8%;
            color: $white;

            &:hover {
                cursor: pointer;
            }

            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
}

