#links_page {

    .my_row.page_wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;;
    }

    .left_column {
        width: 55%;
        float: left;
        padding-right: 3rem;

        @media all and (max-width: 1199px) {
            width: 65%;
        }

        @media all and (max-width: 992px) {
            width: 100%;
            padding-right: 0;
        }
    }

    .right_column {
        width: 45%;
        float: left;

        @media all and (max-width: 1199px) {
            width: 35%;
            padding: 0 3%;
        }

        @media screen and (max-width: 992px) {
            width: 100%;
        }
    }

    .content_wrap {
        background: $white;
        padding: 40px 0;
        border: 1px solid $borderGray;
        border-top-right-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-radius-topright: 20px;
        border-bottom-right-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
        -moz-border-radius-bottomright: 20px;
        border-bottom-left-radius: 20px;
        -webkit-border-bottom-left-radius: 20px;
        -moz-border-radius-bottomleft: 20px;

        .top_section {
            padding: 0 50px;

            @media all and (max-width: 550px) {
                padding: 0 25px;
            }
        }
    }

    .icons_wrap {
        position: relative;
        /*display: grid;
        --n: 4;
        grid-template-columns: repeat(auto-fill, minmax(max(50px,100%/var(--n)), 1fr));
        grid-column-gap: 20px;
        grid-row-gap: 20px;*/
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
        align-items: flex-start;
        -webkit-align-items: flex-start;


        .icon_col {
            position: relative;
            background: $white;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            padding: 20px;
            width: 33.3%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;

            /*.delete_icon {
                position: absolute;
                right: 8px;
                top: 4px;
                color: $red;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }*/

            .column_content {
                @include boxShadow;
                padding: 20px;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
            }

            .edit_icon {
                position: absolute;
                right: 28px;
                top: 28px;

                @media all and (max-width: 550px) {
                    top: 24px;
                    right: 24px;
                }
            }

            .icon_wrap {
                width: 100%;
                float: left;
                padding: 0 14% 5px;
            }

            .my_row {
                width: 100%;
                float: left;
                text-align: center;

                p {
                    margin: 0;
                }

                &:last-child {
                    margin-top: 5px;
                }

                .react-switch-bg {
                    @media all and (max-width: 768px) {
                        height: 14px !important;
                        width: 50px !important;
                    }
                }

                .react-switch-handle {
                    @media all and (max-width: 768px) {
                        height: 12px !important;
                        width: 12px !important;
                    }
                }
            }
        }

        &.add_icons {
            /*grid-column-gap: 40px;
            grid-row-gap: 40px;*/
            padding: 20px 30px;

            @media all and (max-width: 550px) {
                padding: 20px 10px;
            }
        }

        .edit_form {
            grid-column: span 3;
            grid-auto-flow: row dense;
        }
    }
}

#links_page {

    .icon_row {
        display: flex;
        justify-content: center;
        align-items: center;

        /*.close_popup {
            position: absolute;
            right: 20px;
            top: 20px;

            svg {
                width: 40px;
                height: 40px;
                background: $black;
                color: $white;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
            }

        }*/

        .icon_box {
            width: 100%;
            background: #fff;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
        }

        .icons_wrap {
            display: grid;
            overflow-y: scroll;
            overflow-x: hidden;
            height: 150px;
            --n:6;
            grid-template-columns: repeat(auto-fill, minmax(max(50px,100%/var(--n)), 1fr));
            grid-column-gap: 20px;
            grid-row-gap: 20px;

            .icon_col {
                background: none;
                width: auto;
            }
        }

        .icon_image {
            border: 2px solid transparent;

            &:hover {
                cursor: pointer;
            }

            &.active {
                border: 2px solid #000;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
            }
        }
    }
}
.page_settings {
    margin-bottom: 20px;

    .column_wrap {
        border: 1px solid $borderGray;
        padding: 8px 10px;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;

        form {

            .top_section {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                justify-content: space-between;
                -webkit-justify-content: space-between;
                padding: 0 !important;
            }

            button {
                background: none;
                border: none;
                color: $blue;

                &:hover {
                    color: $darkGray;
                }

                svg {
                    width: 25px;
                    height: 25px;
                }
            }

            .bottom_section {
                height: auto;

                &.hidden {
                    height: 0;
                }
            }
        }

        .column_content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            align-items: center;
            -webkit-align-items: center;
            justify-content: space-between;
            -webkit-justify-content: space-between;

            h3 {
                margin: 0;
                font-size: 16px;
            }

            .lock_icon {
                color: $green;

                svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}

.add_more_icons {
    @include boxShadow;
    padding: 0 40px;
    margin: 30px 50px 0 50px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;

    @media all and (max-width: 550px) {
        padding: 0 30px;
        margin: 15px 25px 0 25px;
    }

    .col_left {
        width: 90%;
        padding: 40px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        align-items: center;
        -webkit-align-items: center;
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
        border-right: 1px solid $lightGray;

        @media all and (max-width: 550px) {
            width: 95%;
            padding: 25px 0;
        }

        h3 {
            color: $blue;
            margin-left: 20px;
            margin-bottom: 0;

            @media all and (max-width: 550px) {
                font-size: 20px;
            }
        }

        .icon_wrap {
            background: $darkGray;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            padding: 8%;
            color: $white;

            &:hover {
                cursor: pointer;
            }

            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
}

