.form_page {

    .pricing {
        margin: 30px 0;

        h3 {
            @include osbold;
            font-size: 50px;

            @media all and (max-width: 1199px) {
                font-size: 40px;
            }

            sup {
                @include osregular;
                font-size: 16px;
                top: -35px;
                left: 6px;
            }

            span {
                @include osregular;
                font-size: 16px;
            }
        }
    }

    &.plans {

        .card {
            max-width: 1200px;

            @media all and (max-width: 1199px) {
                max-width: 1000px;
            }

            @media all and (max-width: 992px) {
                max-width: 90%;
            }
        }

        h2.page_title {
            margin-bottom: 10px;
        }

        .sub_title {
            color: $blue;
            text-align: center;
            font-size: 18px;
        }

        ul {
            list-style: none;
            padding-left: 0;
            margin: 0 auto;

            li {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                justify-content: flex-start;
                -webkit-justify-content: flex-start;
                align-items: center;
                -webkit-align-items: center;
                column-gap: 10px;
                -moz-column-gap: 10px;
                -webkit-column-gap: 10px;
                margin-bottom: 10px;

                p {
                    margin: 0;
                }
            }
        }

        .my_row.three_columns {

            @media all and (max-width: 992px) {
                justify-items: center;
            }

            .column {

                h4 {
                    margin-top: auto;
                }

                @media all and (max-width: 992px) {
                    width: 100%;
                    max-width: 350px;
                }

                &.pro {

                    svg {
                        color: $blue;
                    }
                }

                &.premier {
                    border-color: $black;

                    svg {
                        color: $black;
                    }
                }

                &.custom {
                    border-color: $grayBlue;

                    svg {
                        color: $grayBlue;
                    }
                }

                &.free {
                    grid-column-end: span 3;
                    border-color: $limeGreen;

                    @media all and (max-width: 992px) {
                        grid-column-end: unset;
                    }

                    .my_row.three_columns {
                        grid-template-columns: repeat(3, 1fr);

                        @media all and (max-width: 768px) {
                            grid-template-columns: repeat(1, 1fr);
                        }

                        .column {
                            padding: 0;
                            border: none;
                            justify-content: center;
                            -webkit-justify-content: center;

                            &:nth-child(2) {
                                align-items: center;
                                -webkit-align-items: center;
                            }

                            svg {
                                color: $limeGreen;
                            }

                            p {
                                margin: 0;
                            }

                            h4 {
                                color: $limeGreen;
                                text-align: left;
                            }
                        }
                    }
                }
            }

            &.two_columns {
                justify-items: center;

                .column {
                    width: 100%;
                    max-width: 400px;

                    &:first-child {
                        margin-left: auto;
                    }

                    &:last-child{

                        margin-right: auto;
                    }
                }

                &.popup {
                    .column.free {
                        grid-column-end: unset;
                    }
                }
            }
        }
    }
}
