#popup_choose_level, #popup_payment_method, #confirm_popup, #upgrade_popup {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    transition: 100ms opacity linear;
    -webkit-transition: 100ms opacity linear;
    -moz-transition: 100ms opacity linear;
    -o-transition: 100ms opacity linear;
    z-index: 999;

    &.open {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        opacity: 1;
    }

    h3.popup_title {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid $borderGray;
    }

    .box {
        @include boxShadow;
        position: relative;
        width: 100%;
        max-width: 400px;
        background: $white;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;

        .text_wrap {
            text-align: center;
            padding: 20px 20px 30px;

            p {
                margin-bottom: 20px;
            }

            &.form_wrap {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                justify-content: space-evenly;
                -webkit-justify-content: space-around;
            }
        }

        form {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            -webkit-justify-content: space-around;
        }
    }
}

#popup_choose_level, #popup_payment_method, #upgrade_popup {
    .close_popup {
        position: absolute;
        right: 30px;
        top: 30px;
        width: 50px;
        height: 50px;
        color: $white;

        @media all and (max-width: 550px) {
            right: 10px;
            top: 10px;
            width: 40px;
            height: 40px;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

#popup_payment_method {

    .bt-drop-in-wrapper {
        padding: 0 10%;

        .braintree-options-list {
            text-align: left;
        }
    }

    .box {
        max-width: 600px;

        h3 {
            margin-bottom: 0;
        }

        .text_wrap.form_wrap {
            display: block;
        }

        form {
            display: block;

            label {
                width: 100%;
            }
        }
    }
}

#popup_choose_level {
    .card {
        max-width: 1000px;
        padding: 10px 0 20px;

        @media all and (max-width: 992px) {
            max-width: 500px;
        }

        @media all and (max-width: 550px) {
            max-width: 350px;
        }
    }

    .form_page.plans {

        .my_row.three_columns {

            @media all and (max-width: 992px) {
                grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
            }

            @media all and (max-width: 768px) {
                grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
            }

            @media all and (max-width: 550px) {
                grid-template-columns: repeat(1, auto);
            }

            &.two_columns {

                .column {

                    @media all and (max-width: 992px) {
                        margin: auto;
                    }

                    @media all and (max-width: 550px) {
                        min-width: 100%;
                    }

                    h2 {
                        margin-bottom: 10px;
                        padding-bottom: 10px;
                    }

                    .pricing {
                        margin: 15px 0;
                    }
                }
            }
        }
    }
}

#upgrade_popup {
    .box {
        max-width: 550px;
        text-align: center;
        padding: 40px 20px;

        .button {
            display: inline-block;
            margin-top: 20px;
        }

        h3 {
            @include osbold;
            font-size: 30px;
        }

        h4 {
            @include ossemibold;
            font-size: 18px;
        }

        .icon_wrap {
            width: 50px;
            margin: 0 auto 20px;
        }
    }
}
