.links_col {

    &.preview {
        background: url('/images/preview-device-bg.png') no-repeat;
        background-size: 100%;
        background-position: 50% 10%;

        @media all and (max-width: 992px) {
            position: fixed;
            right: -100%;
            top: 0;
            bottom: 0;
            background-color: $white;
            z-index: 9999;
            padding-top: 5% !important;
            background-position: center;
            transition: right 500ms;
        }

        &.show {
            right: 0;
        }

        .close_preview {
            display: none;
            position: absolute;
            right: 8px;
            top: 8px;
            z-index: 999;

            @media all and (max-width: 992px) {
                display: block;
            }

            &:hover {
                color: $darkGray;
                cursor: pointer;
            }

            svg {
                width: 35px;
                height: 35px;
            }
        }
    }

    .links_wrap {
        max-width: 450px;
        margin: 0 auto;
        position: relative;
        height: 100%;

        &.live_page {
            max-width: 450px;

            @media all and (max-width: 768px) {
                max-width: unset;
            }
        }

        img.device {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
        }

        .inner_content {
            background: $white;
            border-radius: 85px;
            -webkit-border-radius: 85px;
            -moz-border-radius: 85px;
            margin: 0 auto;
            padding: 10px;
            height: 100%;

            .page_header {
                padding: 30%;
                border-top-right-radius: 12%;
                -webkit-border-top-right-radius: 12%;
                -moz-border-radius-topright: 12%;
                border-top-left-radius: 12%;
                -webkit-border-top-left-radius: 12%;
                -moz-border-radius-topleft: 12%;
                background-size: cover !important;

                &.default {
                    padding: 75px 36%;
                    background: $lightGray !important;
                    color: $gray;
                    text-align: center;
                }

                &.canvas {
                    padding: 0;
                }
            }

            &.live_page {
                padding: 0 0 20px 0;
                min-height: 740px;

                @media all and (max-width: 768px) {
                    border-radius: 0;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                }

                .page_header {
                    padding: 30%;
                    border-top-right-radius: 50px;
                    -webkit-border-top-right-radius: 50px;
                    -moz-border-radius-topright: 50px;
                    border-top-left-radius: 50px;
                    -webkit-border-top-left-radius: 50px;
                    -moz-border-radius-topleft: 50px;

                    @media all and (max-width: 768px) {
                        border-radius: 0;
                        -webkit-border-radius: 0;
                        -moz-border-radius: 0;
                    }

                    &.default {
                        padding: 75px 36%;
                    }
                }
            }
        }

        .profile_content {
            padding: 10px 20px;
            width: 100%;
            float: left;
            position: relative;

            .profile_image {
                width: 28%;
                border-radius: 100%;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border: 7px solid $blue;
                padding: 8px;
                float: left;
                margin-top: -67px;

                img {
                    border-radius: 100%;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                }

                .image_wrap {
                    overflow: hidden;
                    border-radius: 50px;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                }

                &.default {
                    background: $white;
                    color: $gray;
                    margin-top: -60px;

                    .image_wrap {
                        max-width: unset;
                        overflow: unset;
                        padding: 20%;
                        background: $lightGray;
                        border-radius: 100%;
                        -webkit-border-radius: 100%;
                        -moz-border-radius: 100%;

                        img {
                            border-radius: 0;
                            -webkit-border-radius: 0;
                            -moz-border-radius: 0;
                        }
                    }
                }
            }

            .profile_text {
                width: 72%;
                float: left;
                padding-left: 20px;

                p {
                    margin: 0;
                }
            }
        }

        .icons_wrap {
            width: 100%;
            padding: 0 20px;
        }

        .icon_col {
            background: none !important;
            position: relative !important;

            p {
                text-align: center;
                font-size: 12px;
                margin: 0;
            }

            &.disabled {
                border: 1px dashed $borderGray;
                position: relative;
                border-radius: 10px;

                &:before {
                    content: '';
                    background: rgba(155,155,155,.9);
                    position: absolute;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &.preview {

            &:before {
                content: '';
                background: url('/images/preview-device-no-btm.png') no-repeat;
                background-size: contain;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
            }

            .inner_content {
                max-height: 860px;
                overflow: hidden;

                .inner_content_wrap {
                    height: 100%;
                    margin-right: -50px;
                    padding-right: 50px;
                    overflow-y: scroll;

                    @media all and (max-width: 1199px) {
                        margin-right: -60px;
                        padding-right: 40px;
                    }
                }

                .profile_content {
                    padding: 10px 20px 10px 35px;

                    .profile_text {
                        @media all and (max-width: 1199px) {
                            padding-left: 10px;
                        }
                    }

                    .profile_image {
                        @media all and (max-width: 1199px) {
                            margin-top: -44px;
                            padding: 5px;
                        }
                    }

                    h2 {
                        @media all and (max-width: 1199px) {
                            font-size: 2vw;
                            margin-bottom: 5px;
                        }
                    }
                }

                .icon_col {
                    position: relative;
                    box-shadow: none !important;
                    -webkit-box-shadow: none  !important;
                    -moz-box-shadow: none !important;
                    -o-box-shadow: none !important;
                    width: 33.3%;
                    padding: 20px;

                    @media all and (max-width: 1199px) {
                        padding: 15px !important;
                    }
                }
            }
        }
    }
}

