.links_col {

    &.preview {
        background: url('/images/preview-device-bg.png') no-repeat;
        background-size: 100%;
        background-position: 50% 10%;

        @media all and (max-width: 992px) {
            position: fixed;
            right: -100%;
            top: 0;
            bottom: 0;
            background-color: $white;
            z-index: 9999;
            padding: 3% 0 !important;
            background-position: center;
            transition: right 500ms;
            background-size: 75%;
        }

        @media all and (max-width: 768px) {
            background-size: 100%;
        }

        &.show {
            right: 0;
        }

        .close_preview {
            display: none;
            position: absolute;
            right: 8px;
            top: 8px;
            z-index: 999;

            @media all and (max-width: 992px) {
                display: block;
            }

            @media screen and (max-width: 550px) {
                right: 3px;
                top: 3px;
            }

            &:hover {
                color: $darkGray;
                cursor: pointer;
            }

            svg {
                width: 35px;
                height: 35px;

                @media all and (max-width: 550px) {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    .links_wrap {
        max-width: 425px;
        margin: 0 auto;
        position: relative;
        height: 100%;
        width: 100%;

        @media all and (max-width: 992px) {
            max-width: 355px;
        }

        @media all and (max-width: 768px) {
            max-width: 365px;
        }

        @media screen and (max-width: 350px) {
            max-width: 325px;
        }

        img.device {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
        }

        .inner_content {
            background: $white;
            border-radius: 15%;
            -webkit-border-radius: 15%;
            -moz-border-radius: 15%;
            padding: 10px;
            height: 100%;
            margin: 0 3%;

            .page_header {
                padding: 29%;
                border-top-right-radius: 12%;
                -webkit-border-top-right-radius: 12%;
                -moz-border-radius-topright: 12%;
                border-top-left-radius: 12%;
                -webkit-border-top-left-radius: 12%;
                -moz-border-radius-topleft: 12%;
                background-size: cover !important;

                &.default {
                    padding: 75px 36%;
                    background: $lightGray !important;
                    color: $gray;
                    text-align: center;
                }

                &.canvas {
                    padding: 0;
                }
            }
        }

        .profile_content {
            padding: 10px 20px;
            width: 100%;
            float: left;
            position: relative;

            .lock_icon {
                color: $green;
                position: absolute;
                left: 16%;
                top: 50px;
                width: 35px;
                height: 45px;

                @media all and (max-width: 992px) {
                    top: 75px;
                    width: 30px;
                    height: 40px;
                }

                svg {
                    width: 100%;
                    height: 100%;
                }

                .tooltip_icon {
                    @include osbold;
                    position: absolute;
                    right: 30px;
                    color: $blue;
                    border-radius: 100%;
                    width: 18px;
                    height: 18px;
                    text-align: center;
                    border: 2px solid $blue;
                    font-size: 13px;
                    top: 4px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    justify-content: center;
                    -webkit-justify-content: center;
                    align-items: center;
                    -webkit-align-items: center;
                    padding-right: 1px;

                    @media all and (max-width: 992px) {
                        width: 15px;
                        height: 15px;
                        padding-right: 0;
                        font-size: 12px;
                    }

                    .tooltip {
                        @include boxShadow;
                        @include osregular;
                        transition: 1ms opacity linear;
                        -webkit-transition: 1ms opacity linear;
                        -moz-transition: 1ms opacity linear;
                        -o-transition: 1ms opacity linear;
                        background: #eaeaea;
                        width: 180px;
                        padding: 10px;
                        top: 28px;
                        left: -14px;
                        color: $black;
                        display: none;

                        &:before {
                            content: '';
                            position: absolute;
                            width: 0;
                            height: 0;
                            border-left: 8px solid transparent;
                            border-right: 8px solid transparent;
                            border-bottom: 10px solid;
                            border-bottom-color: #eaeaea;
                            top: -10px;
                            left: 10px;
                        }
                    }

                    &:hover {
                        cursor: help;

                        .tooltip {
                            display: block;
                            opacity: 1;
                        }
                    }
                }
            }

            .profile_image {
                background: $white;
                width: 28%;
                border-radius: 100%;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border: 7px solid $blue;
                padding: 8px;
                float: left;
                margin-top: -55px;

                img {
                    border-radius: 100%;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                }

                .image_wrap {
                    overflow: hidden;
                    border-radius: 50px;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                }

                &.default {
                    background: $white;
                    color: $gray;
                    margin-top: -60px;

                    .image_wrap {
                        max-width: unset;
                        overflow: unset;
                        padding: 20%;
                        background: $lightGray;
                        border-radius: 100%;
                        -webkit-border-radius: 100%;
                        -moz-border-radius: 100%;

                        img {
                            border-radius: 0;
                            -webkit-border-radius: 0;
                            -moz-border-radius: 0;
                        }
                    }
                }

                &.selected {
                    padding-bottom: 0 !important;
                }
            }

            .profile_text {
                width: 72%;
                float: left;
                padding-left: 20px;

                p {
                    margin: 0;
                }
            }
        }

        .icons_wrap {
            width: 100%;
            padding: 0 20px;
        }

        .icon_col {
            background: none !important;
            position: relative !important;

            p {
                text-align: center;
                font-size: 12px;
                margin: 0;
            }

            &.disabled {
                border: 1px dashed $borderGray;
                position: relative;
                border-radius: 10px;

                &:before {
                    content: '';
                    background: rgba(155,155,155,.9);
                    position: absolute;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &.preview {
            height: 100%;
            width: 100%;


            .inner_content {
                background: transparent;
                max-height: 825px;
                height: 100%;
                width: 100%;
                max-width: 385px;
                padding: 8px 0 0 0;
                margin: 0 auto;

                &:before {
                    content: '';
                    background: url('/images/preview-device-no-btm.png') no-repeat;
                    background-size: contain;
                    background-position: top center;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                }

                .inner_content_wrap {
                    background: $white;
                    height: 100%;
                    /*margin-right: -5px;
                    margin-left: 8px;*/
                    margin-top: 2%;
                    overflow-y: scroll;
                    mask-image: url('/images/preview-device-inner.png');
                    -webkit-mask-image: url('/images/preview-device-inner.png');
                    mask-repeat: no-repeat;
                    -webkit-mask-repeat: no-repeat;
                    mask-size: cover;
                    -webkit-mask-size: cover;
                    border-radius: 50px;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                    -ms-overflow-style: none;  /* IE and Edge */
                    scrollbar-width: none;

                    &::-webkit-scrollbar {
                        display:none;
                    }
                }

                .profile_content {
                    padding: 10px 20px 10px 35px;
                    background: $white;

                    .profile_text {
                        @media all and (max-width: 1199px) {
                            padding-left: 10px;
                        }
                    }

                    .profile_image {
                        @media all and (max-width: 1199px) and (min-width: 993px) {
                            margin-top: -44px;
                            padding: 5px;
                        }
                    }

                    h2 {
                        @media all and (max-width: 1199px) {
                            font-size: 2vw;
                            margin-bottom: 5px;
                        }

                        @media all and (max-width: 992px) {
                            font-size: 22px;
                        }
                    }
                }

                .icons_wrap {
                    background: $white;
                }

                .icon_col {
                    position: relative;
                    box-shadow: none !important;
                    -webkit-box-shadow: none  !important;
                    -moz-box-shadow: none !important;
                    -o-box-shadow: none !important;
                    width: 33.3%;
                    padding: 10px 15px;

                    @media all and (max-width: 1199px) {
                        padding: 10px;
                    }
                }
            }
        }
    }
}

