.pricing_plans {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: center;
    -webkit-justify-content: center;

    @media all and (max-width: 768px) {
        display: block;
    }

    .column {
        width: 23%;
        float: left;
        text-align: center;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        @include boxShadow;

        @media all and (max-width: 768px) {
            width: 100%;
            margin-bottom: 20px;
        }

        .button {
            width: 75%;
            padding: 12px;
            font-size: 24px;
            color: $white;
            text-transform: none;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;

            @media all and (max-width: 992px) {
                font-size: 20px;
                width: 80%;
            }
        }

        h3 {
            @include bebas;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            align-items: center;
            -webkit-align-items: center;
            justify-content: center;
            -webkit-justify-content: center;
            font-size: 70px;

            @media all and (max-width: 1199px) {
                font-size: 55px;
            }

            @media all and (max-width: 992px) {
                font-size: 35px;
            }
        }
        p, h3 span {
            @include osregular;
            font-size: 16px;
            color: $darkGray;
            text-transform: uppercase;
            margin-bottom: 0;
        }

        h3 span {
            margin-left: 5px;
            text-transform: none;
        }

        h2 {
            @include osregular;
            text-transform: uppercase;
            margin: 0;

            @media all and (max-width: 992px) {
                font-size: 22px;
            }
        }

        h4 {
            display: none;

            @media all and (max-width: 768px) {
                display: block;
                font-size: 18px;
            }
        }

        img {
            width: 30px;

            @media all and (max-width: 992px) {
                width: 25px;
            }
        }

        .column_row {
            background: #e0e7ed;
            min-height: 65px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            justify-content: center;
            -webkit-justify-content: center;
            align-items: center;
            -webkit-align-items: center;

            @media all and (max-width: 768px) {
                padding: 10px 20px;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                justify-content: space-between;
                -webkit-justify-content: space-between;
            }

            &.alt {
                background: #d1d8df;
            }
        }

        .column_header {
            color: white;
            text-align: center;
            display:flex;
            justify-content: center;
            align-items: center;
            min-height: 85px;
            border-top-left-radius: 30px;
            -webkit-border-top-left-radius: 30px;
            -moz-border-radius-topleft: 30px;
            border-top-right-radius: 30px;
            -webkit-border-top-right-radius: 30px;
            -moz-border-radius-topright: 30px;

            &.basic {
                background: radial-gradient(circle farthest-corner at 115% 720%, #1cb8a9 10%, #26c386 90%, #57d19d 90%, #58d398 0%);
            }

            &.pro {
                background: radial-gradient(circle farthest-corner at 115% 720%, #fa6ab3 10%, #d070d0 90%, #d590de 90%, #cb92e4 0%);
            }

            &.corp {
                background: radial-gradient(circle farthest-corner at 115% 720%, #2d38cc 10%, #4a69d5 90%, #7d9de1 90%, #7d9de1 100%, #7d9de1 100%);
            }
        }

        .column_sub_header {
            min-height: 95px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            justify-content: center;
            -webkit-justify-content: center;
            align-items: center;
            -webkit-align-items: center;
        }

        &.plan_items {
            width: 31%;

            @media all and (max-width: 768px) {
                width: 100%;
                background: #f1f1f1;
            }

            h2 {
                @include osbold;
            }

            h4 {
                display: block;

                @media all and (max-width: 1199px) {
                    font-size: 18px;
                }
            }

            img {
                width: 120px;
            }

            .column_row {
                @include ossemibold;
                background: #d3dae0;
                text-align: left;
                align-items: flex-start;
                -webkit-align-items: flex-start;
                padding: 0 10%;

                &.alt {
                    background: #c0cad3;
                }
            }
        }

        &:last-child {
            .column_row {
                background: #e5ecf3;

                &.alt {
                    background: #dbe4ec;
                }
            }
        }

        .column_footer {
            min-height: 140px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            justify-content: center;
            -webkit-justify-content: center;
            align-items: center;
            -webkit-align-items: center;

            form {
                width: 100%;
            }

            h5 {
                color: $darkGray;
                font-size: 24px;

                @media all and (max-width: 992px) {
                    font-size: 20px;
                }
            }
        }
    }
}
