.form_page {

    .card {
        width: 100%;
        max-width: unset;
        padding: 60px 40px;

        @media all and (max-width: 992px) {
            padding: 40px 20px;
        }
    }

    h2 {
        text-align: center;

        &.page_title {
            margin-bottom: 40px;
            font-size: 34px;

            @media all and (max-width: 1199px) {
                font-size: 28px;
            }

            @media all and (max-width: 992px) {
                margin-bottom: 20px;
                font-size: 24px;
            }
        }
    }

    .my_row.three_columns {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px,3fr));
        grid-column-gap: 40px;
        grid-row-gap: 40px;

        @media all and (max-width: 992px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .column {
            border: 6px solid $blue;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            padding: 30px 40px;
            background: #edeef2;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;

            @media all and (max-width: 1199px) {
                padding: 24px;
            }

            h2 {
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid $borderGray;

                @media all and (max-width: 1199px) {
                    font-size: 22px;
                }
            }

            h4 {
                @include osbold;
                color: $black;
                text-align: center;
            }

            &.update_info {
                .form_buttons {
                    margin-top: auto;
                    margin-bottom: 0;
                }
            }

            .plan_name {
                position: relative;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                align-items: center;
                -webkit-align-items: center;
                justify-content: center;
                -webkit-justify-content: center;
                height: 100%;

                p {
                    @include osbold;
                    position: absolute;
                    margin: 0;
                    padding: 0;
                    font-size: 28px;
                    text-transform: uppercase;
                    width: 100%;
                    text-align: center;

                    @media all and (max-width: 1199px) {
                        font-size: 22px
                    }
                }

                img {
                    max-width: 210px;
                }
            }

            a:not(.button) {
                color: $red;
                text-align: center;

                &.cancel_link {
                    margin-bottom: 10px;
                }
            }

            form {
                height: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                justify-content: center;
                -webkit-justify-content: center;

                label {
                    font-size: 12px;

                    span {
                        font-size: 10px;
                        color: $grayBlue;
                    }
                }

                &.plan {
                    height: auto;
                    justify-content: flex-end;
                }
            }

            .canceled_text {
                p {
                    color:$red;

                    span {
                        @include ossemibold;
                    }
                }
            }
        }
    }
}

#popup_choose_level, #popup_payment_method, #confirm_popup, #upgrade_popup {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    transition: 100ms opacity linear;
    -webkit-transition: 100ms opacity linear;
    -moz-transition: 100ms opacity linear;
    -o-transition: 100ms opacity linear;
    z-index: 999;

    &.open {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        opacity: 1;
    }

    h3.popup_title {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid $borderGray;
    }

    .box {
        @include boxShadow;
        position: relative;
        width: 100%;
        max-width: 400px;
        background: $white;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;

        .text_wrap {
            text-align: center;
            padding: 20px 20px 30px;

            p {
                margin-bottom: 20px;
            }

            &.form_wrap {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                justify-content: space-evenly;
                -webkit-justify-content: space-around;
            }
        }

        form {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            -webkit-justify-content: space-around;
        }
    }
}

#popup_choose_level, #popup_payment_method, #upgrade_popup {
    .close_popup {
        position: absolute;
        right: 30px;
        top: 30px;
        width: 50px;
        height: 50px;
        color: $white;

        @media all and (max-width: 550px) {
            right: 10px;
            top: 10px;
            width: 40px;
            height: 40px;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

#popup_payment_method {

    .bt-drop-in-wrapper {
        padding: 0 10%;

        .braintree-options-list {
            text-align: left;
        }
    }

    .box {
        max-width: 600px;

        h3 {
            margin-bottom: 0;
        }

        .text_wrap.form_wrap {
            display: block;
        }

        form {
            display: block;

            label {
                width: 100%;
            }
        }
    }
}

#popup_choose_level {
    .card {
        max-width: 1000px;
        padding: 10px 0 20px;

        @media all and (max-width: 992px) {
            max-width: 500px;
        }

        @media all and (max-width: 550px) {
            max-width: 350px;
        }
    }

    .form_page.plans {

        .my_row.three_columns {

            @media all and (max-width: 992px) {
                grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
            }

            @media all and (max-width: 768px) {
                grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
            }

            @media all and (max-width: 550px) {
                grid-template-columns: repeat(1, auto);
            }

            &.two_columns {

                .column {

                    @media all and (max-width: 992px) {
                        margin: auto;
                    }

                    @media all and (max-width: 550px) {
                        min-width: 100%;
                    }

                    h2 {
                        margin-bottom: 10px;
                        padding-bottom: 10px;
                    }

                    .pricing {
                        margin: 15px 0;
                    }
                }
            }
        }
    }
}

#upgrade_popup {
    .box {
        max-width: 550px;

        .button {
            display: inline-block;
            margin-top: 20px;
        }

        h4 {
            font-size: 18px;
        }
    }
}
