img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

main {
    padding: 80px 0;
}

.my_row {
    width: 100%;
    float: left;
}

.container {
    max-width: 1400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;;
}

.preview_button_wrap {
    display: none;
    text-align: center;
    margin: 20px 0 10px;
    padding: 0 30px;

    @media all and (max-width: 992px) {
        display: block;
    }

    .button {
        display: block;
        width: 100%;
        text-transform: uppercase;
    }
}

.edit_icon {
    background: $lightBlue;
    color: $white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    padding: 0 6px 4px;
    margin-left: 5px;
    border: none;

    @media all and (max-width: 768px) {
        padding: 0 4px 0;
    }

    &:hover {
        cursor: pointer;
        background: $darkGray;
        color: $white;
    }

    svg {
        width: 100%;
        height: 100%;
    }
}

.cancel_icon, .submit_circle {
    color: $red;
    padding-left: 5px;

    &:hover {
        background: none;
        color: $darkGray;
    }

    svg {
        width: 25px;
        height: 25px;
    }
}

.submit_circle {
    color: $green;
}

.button {
    width: 150px;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border: none;
    text-transform: uppercase;

    @media all and (max-width: 768px) {
        width: 138px;
    }

    &:hover {
        cursor: pointer;
    }

    &.red {
        background: $red;
        color: $white;

        &:hover {
            background: $blue;
            text-decoration: none;
        }
    }

    &.blue {
        background: $blue;
        color: $white;

        &:hover {
            background: $red;
            text-decoration: none;
        }
    }

    &.transparent {
        border: 1px solid $blue;
        color: $blue;
    }

    &.settings {
        position: absolute;
        right: 10px;
        background: none;
        padding: 0;
        width: 30px;
        height: 30px;
        top: 4px;
        color: $green;

        &:hover {
            color: $darkGray;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }
}


.display_message {
    @include boxShadow;
    text-align: center;
    width: 300px;
    height: 250px;
    background: $white;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 999;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    -webkit-border-top-left-radius: 20px;
    padding: 20px;

    .icon_wrap {
        color: $green;
        margin-bottom: 10px;
        margin-top: 20px;

        svg {
            width: 50px;
            height: 50px;
        }
    }

    .close {
        border-top: 1px solid $borderGray;
        color: $darkGray;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        font-size: 14px;
        padding: 20px;

        &:hover {
            cursor: pointer;
        }
    }

    p {
        margin: 0;
        font-size: 18px;
        color: $black;
        text-transform: uppercase;
    }
}
