img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

main {
    width: 100%;
    float: left;
    padding: 80px 0;

    @media all and (max-width: 768px) {
        padding: 40px 0;
    }
}

#root {
    width: 100%;
    float: left;
}

.my_row {
    width: 100%;
    float: left;
}

.container {
    max-width: 1500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;;
}

button {
    border: none;
    color: $white;
}

.preview_button_wrap {
    display: none;
    text-align: center;
    margin: 20px 0 10px;
    padding: 0 30px;

    @media all and (max-width: 992px) {
        display: block;
    }

    .button {
        display: block;
        width: 100%;
        text-transform: uppercase;
    }
}

.edit_icon {
    background: $lightBlue;
    color: $white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    padding: 0 6px 4px;
    margin-left: 5px;
    border: none;
    width: 28px;
    height: 28px;

    @media all and (max-width: 768px) {
        padding: 0 4px 0;
    }

    &:hover {
        cursor: pointer;
        background: $darkGray;
        color: $white;
    }

    svg {
        width: 100%;
        height: 100%;
    }
}

.cancel_icon, .submit_circle {

    svg {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        color: $white;
        padding: 5px;
    }

    &button {
        background: none;
    }
}

.submit_circle {

    svg {
        background: $green;
    }
}

.cancel_icon {

    svg {
        background: $red;
    }
}





.button {
    width: 150px;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border: none;
    text-transform: uppercase;

    @media all and (max-width: 768px) {
        width: 138px;
    }

    &:hover {
        cursor: pointer;
    }

    &.red {
        background: $red;
        color: $white;

        &:hover {
            background: $blue;
            text-decoration: none;
        }
    }

    &.blue {
        background: $blue;
        color: $white;

        &:hover {
            background: $red;
            text-decoration: none;
        }
    }

    &.transparent {
        border: 1px solid $blue;
        color: $blue;
    }

    &.settings {
        position: absolute;
        right: 10px;
        background: none;
        padding: 0;
        width: 30px;
        height: 30px;
        top: 4px;
        color: $green;

        &:hover {
            color: $darkGray;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &.green {
        background: $limeGreen;

        &:hover {
            background: $blue;
        }
    }

    &.pink_gradient {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#bf73dc+0,c971d5+24,e06ec5+50,f26cb9+76,fd6ab1+100 */
        background: #bf73dc; /* Old browsers */
        background: -moz-linear-gradient(left,  #bf73dc 0%, #c971d5 24%, #e06ec5 50%, #f26cb9 76%, #fd6ab1 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  #bf73dc 0%,#c971d5 24%,#e06ec5 50%,#f26cb9 76%,#fd6ab1 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  #bf73dc 0%,#c971d5 24%,#e06ec5 50%,#f26cb9 76%,#fd6ab1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf73dc', endColorstr='#fd6ab1',GradientType=1 ); /* IE6-9 */

        &:hover {
            background: #fd6ab1; /* Old browsers */
            background: -moz-linear-gradient(left,  #fd6ab1 0%, #f26cb9 24%, #e06ec5 50%, #c971d5 76%, #bf73dc 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left,  #fd6ab1 0%, #f26cb9 24%, #e06ec5 50%, #c971d5 76%, #bf73dc 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right,  #fd6ab1 0%, #f26cb9 24%, #e06ec5 50%, #c971d5 76%, #bf73dc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd6ab1', endColorstr='#bf73dc',GradientType=1 ); /* IE6-9 */
        }
    }

    &.blue_gradient {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#79b6e2+0,6799dd+25,4e6ed6+50,384acf+75,2d38cc+100 */
        background: #79b6e2; /* Old browsers */
        background: -moz-linear-gradient(left,  #79b6e2 0%, #6799dd 25%, #4e6ed6 50%, #384acf 75%, #2d38cc 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  #79b6e2 0%,#6799dd 25%,#4e6ed6 50%,#384acf 75%,#2d38cc 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  #79b6e2 0%,#6799dd 25%,#4e6ed6 50%,#384acf 75%,#2d38cc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79b6e2', endColorstr='#2d38cc',GradientType=1 ); /* IE6-9 */

        &:hover {
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#79b6e2+0,6799dd+25,4e6ed6+50,384acf+75,2d38cc+100 */
            background: #2d38cc; /* Old browsers */
            background: -moz-linear-gradient(left,  #2d38cc 0%, #384acf 25%, #4e6ed6 50%, #6799dd 75%, #79b6e2 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left,  #2d38cc 0%,#384acf 25%,#4e6ed6 50%,#6799dd 75%,#79b6e2 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right,  #2d38cc 0%,#384acf 25%,#4e6ed6 50%,#6799dd 75%,#79b6e2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d38cc', endColorstr='#79b6e2',GradientType=1 ); /* IE6-9 */

        }
    }

    &.disabled {
        background: $gray;
    }
}


.display_message {
    @include boxShadow;
    text-align: center;
    width: 300px;
    height: 250px;
    background: $white;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 999;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    -webkit-border-top-left-radius: 20px;
    padding: 20px;

    .icon_wrap {
        color: $green;
        margin-bottom: 10px;
        margin-top: 20px;

        svg {
            width: 50px;
            height: 50px;
        }
    }

    .close {
        border-top: 1px solid $borderGray;
        color: $darkGray;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        font-size: 14px;
        padding: 20px;

        &:hover {
            cursor: pointer;
        }
    }

    p {
        margin: 0;
        font-size: 18px;
        color: $black;
        text-transform: uppercase;
    }
}
