@mixin osregular {
    font-family: 'opensansregular', sans-serif;
    font-weight: 300;
}

@mixin osbold {
    font-family: 'opensansregular', sans-serif;
    font-weight: 700;
}

@mixin ossemibold {
    font-family: 'opensanssemibold', sans-serif;
    font-weight: 500;
}

@mixin oslight {
    font-family: 'opensanslight', sans-serif;
    font-weight: 200;
}
