@mixin osregular {
    font-family: 'opensansregular', sans-serif;
    font-weight: 300;
}

@mixin osbold {
    font-family: 'opensansbold', sans-serif;
    font-weight: 700;
}

@mixin ossemibold {
    font-family: 'opensanssemibold', sans-serif;
    font-weight: 500;
}

@mixin oslight {
    font-family: 'opensanslight', sans-serif;
    font-weight: 200;
}

@mixin bebas {
    font-family: 'bebasneue', sans-serif;
    font-weight: 500;
}

@mixin boxShadow {
    -webkit-box-shadow: 0px 0px 35px 5px rgba(170,170,170,0.18);
    -moz-box-shadow: 0px 0px 35px 5px rgba(170,170,170,0.18);
    box-shadow: 0px 0px 35px 5px rgba(170,170,170,0.18);
}

@mixin boxShadowAlt {
    box-shadow: 0px 0px 4px 1px rgba(170, 170, 170, .5);
    -moz-box-shadow: 0px 0px 4px 1px rgba(170, 170, 170, .5);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(170, 170, 170, .5);
}
